---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Page not found">
	<main class="flex-auto">
		<section class="centered-content text-center">
			<h1 class="py-10 text-6xl">Page not found</h1>
			<p>Error 404</p>
		</section>
	</main>
</Layout>
