---
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<main class="flex-auto">
		<section class="bg-gradient-to-b from-purple-900 to-pink-400 text-white text-opacity-75">
			<div class="centered-content py-20">
				<h1 class="pt-10 text-6xl">Forgejo - insert tagline here</h1>
			</div>
		</section>
		<section class="centered-content py-10">
			<h2 class="text-2xl pb-10">What is Forgejo?</h2>
			<p>
			Forgejo is a self-hosted lightweight software forge, easy to install and low maintenance that just does the job. Brought to you by an inclusive community under the umbrella of <a href="https://docs.codeberg.org/getting-started/what-is-codeberg/#what-is-codeberg-e.v.%3F">Codeberg e.V.</a> a democratic non-profit organization, Forgejo can be trusted to be exclusively Free Software. It is a "soft" fork of Gitea with a focus on scaling, federation and privacy.
			</p>
			<h2 class="text-2xl pb-10">Get Forgejo</h2>
			<p>
				Binary for amd64 or <a href="https://codeberg.org/forgejo/forgejo/releases">other architectures</a>.
				<ul>
				<li>wget -O forgejo-1.18.0-rc0 https://codeberg.org/attachments/071b3f92-0b6b-45a3-aa3a-6c11ae7fc91e && chmod +x forgejo-1.18.0-rc0</li>
				<li>gpg --keyserver keys.openpgp.org --recv EB114F5E6C0DC2BCDD183550A4B61A2DC5923710</li>
				<li>wget -O forgejo-1.18.0-rc0.asc https://codeberg.org/attachments/06e0720d-4357-4516-9484-2d7c36673870</li>
				<li>gpg --verify forgejo-1.18.0-rc0.asc forgejo-1.18.0-rc0</li>
				</ul>
			<p>
			</p>
				<a href="https://codeberg.org/forgejo/-/packages/container/forgejo/versions">Container image</a>.
				<ul>
				<li>docker pull codeberg.org/forgejo/forgejo:1.18.0-rc0</li>
				</ul>
			</p>
			<h2 class="text-2xl pb-10">Get involved</h2>
			<p>
				Forgejo consists of motivated people, and we are looking forward to <a href="https://codeberg.org/forgejo/forgejo/src/branch/forgejo/CONTRIBUTING.md">your contribution</a>. Feel free to help in the domains of <a href="https://codeberg.org/forgejo/forgejo/issues">code, federation, releases management</a>, User Research, UX, <a href="https://codeberg.org/forgejo/code-of-conduct/issues">community management</a>, documentation, web design, <a href="https://codeberg.org/forgejo/meta/issues">governance</a> and more.
			</p>
		</section>
	</main>
</Layout>
