@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* own classes */
	.centered-content {
		@apply max-w-6xl mx-auto px-4 sm:px-6;
	}
}

@layer base {
	a {
		@apply underline;
	}
}
