---
import '../style.css';

export interface Props {
	title?: string;
}

const { title } = Astro.props;

let pageTitle = title;
if (pageTitle) {
	pageTitle += ' | Forgejo';
} else {
	pageTitle = 'Forgejo';
}

const base = import.meta.env.BASE_URL;
---

<!DOCTYPE html>
<html lang="en" class="text-gray-900 bg-gray-100">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="flex flex-col min-h-screen">
		<header class="bg-purple-900 text-white">
			<nav class="centered-content flex items-center">
				<a href={base} class="no-underline p-4 font-bold text-xl">🔨 Forgejo</a>
				<div class="flex-auto"></div>
				<a
					href="https://codeberg.org/forgejo/"
					class="no-underline p-3 bg-white/90 my-2 text-purple-900 rounded hover:bg-white">Shape me on Codeberg</a
				>
			</nav>
		</header>
		<slot />
		<footer class="border-t border-gray-200 text-sm text-gray-700">
			<div class="max-w-6xl mx-auto px-4 sm:px-6 flex py-4">
				<p class="flex-auto">
					© 2022 Forgejo authors, content available under <a href="https://creativecommons.org/licenses/by-sa/4.0/"
						>CC BY-SA 4.0</a
					>, unless stated otherwise.
				</p>
				<p class="flex-shrink-0 pl-4">
					<a href={base + 'about/'}>About</a> ·
					<a href={base + 'well-being/'}>Well being</a> ·
					<a href={base + 'imprint/'}>Imprint</a> ·
					<a href={base + 'privacy-policy/'}>Privacy Policy</a>
				</p>
			</div>
		</footer>
	</body>
</html>
