---
import Layout from '@layouts/Layout.astro';

interface Props {
	frontmatter: {
		title?: string;
	};
	headings: {
		depth: number;
		text: string;
		slug: string;
	}[];
}
const { frontmatter, headings } = Astro.props;
let title = frontmatter.title;

const firstH1 = headings.find((h) => h.depth == 1);

if (!title && firstH1) {
	title = firstH1.text;
}
---

<Layout title={title}>
	<main class="flex-auto">
		<section class="centered-content prose lg:prose-xl py-12">
			{!firstH1 && frontmatter.title && <h1>{frontmatter.title}</h1>}
			<slot />
		</section>
	</main>
</Layout>
